.pizza-menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 0;
    border-radius: 2px;
    background-color: #fff;
    color: #2f2f2f;
    margin-bottom: .5rem;
    &:hover {
        cursor: pointer;
    }
    &.active {
        background: #2f2f2f;
        color: white;
        .option-menu-item__title {
            &::after {
                font-family: 'FontAwesome';
                content: '\f004';
            }
        }
        &:hover {
            .option-menu-item__title {
                color: white;
            }
        }
    }
    &:not(.active) {
        &:hover {
            background: #2f2f2f;
            color: white;
            transition: all .2s linear;
        }
    }
}

.pizza-menu-item__image {
    height: auto;
    width: 12rem;
    margin: 1rem 2rem 1rem 0rem;
    border-radius: 100px;
}

.pizza-menu-item__description {
    display: flex;
    flex-direction: column;
}
