.success-message {
  text-align: center;
  background-color: #2f2f2f;
  color: #fff;
  padding: 8rem 0;
  border: 0;
}

.success-message__title {
  font-family: 'Lobster Two';
  font-size: 4rem;
}

.success-message__subtitle {
  font-size: 2rem;
}
