@import '../../../base.scss';

.order-row {
    background: #2f2f2f;
    color: white;
    padding: 1rem 0;
}

.order__actions {
    text-align: center;
}

.order__button {
    display: inline-block;
    font-family: 'Lobster Two';
    font-size: 3rem;
    padding: 2rem 5rem;
    margin: 3rem 0;
    background-color: #fafafa;
    color: #2f2f2f;
    border: 0;
    border-radius: 2px;
    transition: background-color .2s linear;
    &:hover,
    &:active,
    &:visited,
    &:focus {
        cursor: pointer;
        background-color: $primary-color;
        color: #fff;
        text-decoration: none;
    }
    &:disabled {
        cursor: not-allowed;
        background-color: #aaa;
        color: #2f2f2f;
    }
}
