<div class="container">
  <fountain-title></fountain-title>
  <main class="row">
    <div class="loading-box" ng-if="!$ctrl.orders">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
    <div ng-if="$ctrl.orders">
      <h1>{{$ctrl.ordersLength}} people have ordered 🍕</h1>
      <div class="order" ng-repeat="(key, value) in $ctrl.orders">
        <div class="order__description">
          {{value.size}} {{value.crust}} {{value.pizza}}
        </div>
        <div class="order__name">
          Ordered by <span class="order__highlight">{{value.name}}</span> on <span class="order__highlight">{{value.timestamp | date:'EEEE, MMMM dd yyyy'}}</span> at <span class="order__highlight">{{value.timestamp | date:'HH:mm:ss'}}</span>
        </div>
        <div class="order__remarks" ng-if="value.remarks">
          {{value.remarks}}
        </div>
      </div>
    </div>
  </main>
</div>
<fountain-footer></fountain-footer>
