@import '../../../base.scss';
.loading-box {
    margin: 2rem 0;
    text-align: center;
}

.orders__title {
    font-size: 5rem;
    text-align: center;
    margin: 0 0 5rem;
}

.order {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #2f2f2f;
    background: #fff;
    font-family: 'Lobster Two';
    font-size: 2rem;
    padding: 1rem 0;
    padding-left: 1.5rem;
}

.order__information {
    display: flex;
    flex-direction: column;
}

.order--space {
    margin: .5rem 0;
    border-radius: 2px;
}

.order__thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    background-color: #2f2f2f;
    color: #fff;
    height: 10rem;
    width: 10rem;
    line-height: 1.2;
    border-radius: 100px;
    margin-right: 2rem;
}

.order__description {
    font-size: 3rem;
}

.order__remarks {
    font-family: 'Cabin';
    font-size: 1.5rem;
    margin: .5rem .5rem;
    padding-left: 1rem;
    line-height: 3rem;
    font-style: italic;
    border-left: .5rem solid #2f2f2f;
}

.order__info {
    margin: .5rem 0;
    font-family: 'Cabin';
    font-size: 1.6rem;
}
