<div class="orders">

  <div class="container">
    <page-title></page-title>
    <main class="row">
      <div class="loading-box" ng-if="!$ctrl.orders">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
      <div ng-if="$ctrl.orders">
        <h1 class="orders__title">{{$ctrl.ordersLength}} people have ordered!</h1>
        <div class="order order--space" ng-repeat="(key, value) in $ctrl.orders">
          <div class="order__thumbnail">
            {{ value.name }}
          </div>
          <div class="order__information">
            <div class="order__description">
              {{value.size}} {{value.crust}} {{value.pizza}}
            </div>
            <div class="order__name">
              <p class="order__info"><i class="fa fa-clock-o fa-fw"></i> <span class="order__highlight">{{value.timestamp | date:'EEEE, MMMM dd yyyy'}}</span>                at <span class="order__highlight">{{value.timestamp | date:'HH:mm:ss'}}</span></p>
            </div>
            <div class="order__remarks" ng-if="value.remarks">
              &ldquo; {{value.remarks}} &rdquo;
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <page-footer></page-footer>
</div>
