@import '../../../base.scss';

.order__confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2f;
  font-size: 4rem;
  height: 35rem;
  font-family: 'Lobster Two';
}

// ===================
.confirmation-form {
    padding: 1rem;
}

.confirmation-form__group {
    padding: 1rem;
    color: #2f2f2f;
}

.confirmation-form__label {
    width: 100%;
    border: 0;
    font-family: 'Lobster Two';
    font-size: 2rem;
    color: #2f2f2f;
}

.confirmation-form__input {
    width: 100%;
    background-color: #fafafa;
    border: 0;
    padding: 1rem .5rem;
    border-bottom: 2px solid #ccc;
    &:focus {
        outline: none;
        border-bottom: 2px solid $primary-color;
    }
}

.confirmation-form__textarea {
    resize: none;
    width: 100%;
    background-color: #fafafa;
    border: 0;
    padding: 1rem .5rem;
    min-height: 10rem;
    border-bottom: 2px solid #ccc;
    &:focus {
        outline: none;
        border-bottom: 2px solid $primary-color;
    }
}

.confirmation-form__button {
    width: 100%;
    background-color: $primary-color;
    border-radius: 2px;
    font-family: 'Lobster Two';
    color: #fff;
    font-size: 2rem;
    border: 0;
    padding: 1rem;
    &:hover,
    &:focus,
    &:active {
        outline: none;
        background-color: darken($primary-color, 10%);
    }
}

.required {
    font-size: 1.2rem;
    vertical-align: top;
}
