.option-menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: .5rem;
    &:hover {
        cursor: pointer;
    }
    &.active {
        background: #2f2f2f;
        color: white;
        border: 1px solid #0f0f0f;
        &:hover {
            .option-menu-item__title {
                color: white;
            }
        }
    }
    &:not(.active) {
        &:hover {
            background: #2f2f2f;
            border: 1px solid #0f0f0f;
            color: white;
            transition: all .2s linear;
        }
    }
}

.option-menu-item__image {
    padding: 1rem;
    height: auto;
    width: 15rem;
    margin-right: 2rem;
}

.option-menu-item__description {
    display: flex;
    flex-direction: column;
}
