@import 'base.scss';

h1,
h2,
h3,
h4 {
    font-family: 'Lobster Two';
}

body {
    font-family: 'Cabin';
    background-color: $primary-color;
    color: #fff;
}

* {
    box-sizing: border-box;
}

a {
    color: $primary-color;
    text-decoration: underline;
    &:hover {
        color: darken($primary-color, 10%);
    }
}
