h1, h2, h3, h4 {
  font-family: 'Lobster Two';
}

body {
  font-family: 'Cabin';
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}

a {
  color: #e6332a;
  text-decoration: underline;
  &:hover {
    color: darken(#e6332a, 10%);
  }
}
